---
html_id: home
class: special
title: Home
image: /images/CoverPhoto.jpg
position: center center
---

<header>
	<h1>{{ site.title }}</h1>
	<p>portfolio</p>
</header>
<nav id="nav">
    <ul class="actions special spinY">
		{% for panel in site.panels %}
            {% if panel.class == "mls" %}
				<li><a href="#{{ panel.html_id }}" class="button">{{ panel.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
    <div class="horizontal"> </div>
    <ul class="actions vertical special spinY">
		{% for panel in site.panels %}
            {% if panel.class == "portfolio" %}
				<li><a href="#{{ panel.html_id }}" class="button">{{ panel.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
<ul class="actions special">
	<li><a href="/images/JSergenian-Resume.pdf" class="button special icon fa-file" target="_blank">Resume</a></li>
	<li><a href="#contact" class="button special icon fa-envelope">Contact</a></li>
    <li><a href="http://www.linkedin.com/in/joesergenian" target="_blank" class="button special icon fa-linkedin">Linkedin</a></li>
</ul>
